.bottom{
	width: 100%;
	height: 100rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	padding: 0 20rpx;
	border-top: 2rpx solid #ededed;
}
.bottom .bottom-left{
	display: flex;
	align-items: center;
	flex: 1;
	margin-right: 20rpx;
}
.bottom-left image{
	width: 70rpx;
	height: 70rpx;
	margin-right: 20rpx;
}
.bottom-left .audio-info{
	width: 300rpx;
}
.audio-name{
	font-size: 30rpx;
	width: 300rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.audio-singer{
	font-size: 22rpx;
	color: #7d7d7d;
	width: 300rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.bottom .bottom-right{

	font-size: 52rpx;
	display: flex;
	align-items: center;
}
.bottom-right .btn-player, .btn-info{
	width: 52rpx;
	margin-right: 20rpx;

}